{{#if resume.work.length}}
<div class="container work-container">
    {{#if header}}
    {{> title value=header}}
    {{/if}}
    {{#unless header}}
    {{> title value="Experience"}}
    {{/unless}}

    {{#each resume.work}}
        <section class="item">
            {{> section-header name=this.company prefix=this.position }}

            {{#if subtitle}}
            <h5>{{{filter subtitle "markdown"}}}</h5>
            {{/if}}

            {{#if summary}}
            <div class="summary">
                {{{filter summary "markdown"}}}
            </div>
            {{/if}}

            {{#if highlights.length}}
            <ul>
                {{#each highlights}}
                <li>{{{filter . "markdown"}}}</li>
                {{/each}}
            </ul>
            {{/if}}
        </section>
    {{/each}}
</div>
{{/if}}